body {
  margin: 0;
  padding: 0;
}

#header {
  position: relative;
  width: 100%;
  height: 10vh;
  color: #fff;
  font-size: 4.5vh;
  letter-spacing: 0.5vh;
  background-color: #8670ff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}
